//- base.jade

mixin event_li(event)
    .float-left.picture
        a(href="#{event.link}")
            img(src="#{event.picture}",alt="#{event.username}")
    .rest
        .list-item-title
            a(href="#{event.link}")= event.event_name
        .details
            if event.end_time
                .start-end(title="#{event.start_time.strftime('%H:%M')} - #{event.end_time.strftime('%H:%M')}")= event.start_time.strftime("%d.%m.%Y %H:%M")
            else
                .start= event.start_time.strftime("%d.%m.%Y %H:%M")
            .sep #
            .page
                a(href="http://facebook.com/#{event.page_id}")= event.page_name
            if event.place_name
                .sep #
                .place= event.place_name
        .details
            .counts
                .count(title="#{event.attending_count} se zúčastní")= event.attending_count
                .count-sep /
                .count(title="#{event.maybe_count} možná")= event.maybe_count
                .count-sep /
                .count(title="#{event.declined_count} zamítnutí")= event.declined_count
                .count-sep /
                .count(title="#{event.noreply_count} zatím neodpovědělo na účast")= event.noreply_count
    .clear



!!! 5
html(lang="cz")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1")

        script(type="text/javascript")
            include ./ga.js

        script(src="ga.js", type="text/javascript")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext", rel="stylesheet", type="text/css")
        title
            block title
                | KdyPřednáška - přednášky na VŠE Praha
    body
        .header
            block header
                h1
                    a(href="/") KdyPřednáška?

            nav
                ul
                    li
                        a(href="/") přehled
                    li
                        a(href="vsechny.html") všechny přednášky
                    li
                        a(href="kluby.html") školní kluby

            .header-description
                p Veřejně přístupné přednášky na VŠE Praha
                    if now
                        span.updated-at [naposledy aktualizováno #{now.strftime("%d.%m.%Y %H:%M")}]

        block content

        footer
            block footer
                p něco nefunguje? připomínky? ⇝ 
                    a(href="mailto:kdyprednaska@gmail.com") kdyprednaska@gmail.com
                .rage \(^-^)/



