//- events.jade

extends ./base.jade

block content
    .col.col-2.float-left
        .today
            h3 dnes - #{today.weekday() | cz_weekday} #{today.strftime("%d.%m")}
            if events_today
                ul.data
                    for event in events_today
                        li
                            +event_li(event)
            else
                p.nic Nic

        .tomorrow
            h3 zítra - #{tomorrow.weekday() | cz_weekday} #{tomorrow.strftime("%d.%m")}
            if events_tomorrow
                ul.data
                    for event in events_tomorrow
                        li
                            +event_li(event)
            else
                p.nic Nic

        .tomorrow
            h3 pozítří - #{tomorrow2.weekday() | cz_weekday} #{tomorrow2.strftime("%d.%m")}
            if events_tomorrow2
                ul.data
                    for event in events_tomorrow2
                        li
                            +event_li(event)
            else
                p.nic Nic


    .col.col-2.float-left
        div
            h3
                if current_week
                    | tenhle týden
                else
                    | příští týden
                | (#{week_start.strftime("%d.%m")} - #{week_end.strftime("%d.%m")})
            ul.data
                for event in events_week
                    li
                        +event_li(event)
    .clear
