//- events.jade

extends ./base.jade

block content
    div.column.float-left
        div.today
            h3 dnes - #{today.strftime("%d.%m.%Y")}
            if events_today
                ul.data
                    for event in events_today
                        li
                            +event_li(event)
            else
                p.nic Nic
        div.tomorrow
            h3 zítra - #{tomorrow.strftime("%d.%m.%Y")}
            if events_tomorrow
                ul.data
                    for event in events_tomorrow
                        li
                            +event_li(event)
            else
                p.nic Nic
        div.tomorrow
            h3 pozítří - #{tomorrow2.strftime("%d.%m.%Y")}
            if events_tomorrow2
                ul.data
                    for event in events_tomorrow2
                        li
                            +event_li(event)
            else
                p.nic Nic
    div.column.float-left
        div
            if current_week
                h3 tenhle týden
            else
                h3 příští týden
            ul.data
                for event in events_week
                    li
                        +event_li(event)
    div.clear



mixin event_li(event)
    div.float-left.picture
        a(href="#{event.link}")
            img(src="#{event.picture}",alt="#{event.username}")
    div.rest
        div.list-item-title
            a(href="#{event.link}")= event.event_name
        div.details
            if event.end_time
                div.start-end(title="#{event.start_time.strftime('%H:%M')} - #{event.end_time.strftime('%H:%M')}")= event.start_time.strftime("%d.%m.%Y %H:%M")
            else
                div.start= event.start_time.strftime("%d.%m.%Y %H:%M")
            div.sep #
            div.page
                a(href="http://facebook.com/#{event.page_id}")= event.page_name
            if event.place_name
                div.sep #
                div.place= event.place_name
        div.details
            div.counts
                div.count(title="#{event.attending_count} se zúčastní")= event.attending_count
                div.count-sep /
                div.count(title="#{event.maybe_count} možná")= event.maybe_count
                div.count-sep /
                div.count(title="#{event.declined_count} zamítnutí")= event.declined_count
                div.count-sep /
                div.count(title="#{event.noreply_count} zatím neodpovědělo na účast")= event.noreply_count
    div.clear
