//- pages.jade

extends ./base.jade

block content
    ul.data
        for page in pages
            li
                +page_li(page)


mixin events_link(page, count_text)
    a(href="#{page.link}/events")= count_text

mixin page_li(page)
    div.float-left.picture
        a(href="#{page.link}")
            img(src="#{page.picture}",alt="#{page.username}")
    div.float-left.rest
        div.list-item-title
            a(href="#{page.link}")= page.name
        div.details
            if page.username
                div
                    a(href="#{page.link}")= page.username

            if (page.website | is_url)
                div.sep #
                div.website
                    a(href="#{page.website}")= page.website
            if page.email
                div.sep #
                div.email= page.email
        div.details
            div
                if page.likes >= 5
                    #{page.likes} fb liků
                elif page.likes >= 2
                    #{page.likes} fb liky
                elif page.likes == 1
                    | 1 fb like
                else
                    | žádný fb like
            div.sep #
            div
                if page.event_count >= 5
                    +events_link(page, page.event_count|string + " přednášek")
                elif page.event_count >= 2
                    +events_link(page, page.event_count|string + " přednášky")
                elif page.event_count == 1
                    +events_link(page, "1 přednáška")
                else
                    +events_link(page, "žádná přednáška")

    div.clear
